<div class="container">
    <div>
        <mat-card>
            <mat-card-title>
                Forgot Password Form
            </mat-card-title>
            <mat-card-content>
                <form class="example-form" [formGroup]="ForgotPasswordForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="example-full-width" appearance="outline" style="width: 100%;">
                                <mat-label>Enter Your Registered Email</mat-label>
                                <input matInput placeholder="Enter the registered email" formControlName="email">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <button mat-raised-button color="primary" type="submit" style="width: 100%;">Submit</button>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>